################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Diplom/bin/Debug
/Diplom/obj/Debug
