<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="mongo-server" value="localhost:27017"/>
      <add key="mongo-database" value="diplom"/>
      <add key="mongo-collection-addresses" value="addresses"/>
      <add key="mongo-collection-implementers" value="implementers"/>
      <add key="mongo-collection-orgevents" value="orgevents"/>
      <add key="mongo-collection-people" value="people"/>
      <add key="mongo-collection-verifications" value="verifications"/>
      <add key="mongo-collection-controller" value="controller"/>
      <add key="mongo-collection-users" value="users"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>